:root {
  --desktop: false;

  @media (width > 800px) {
    --desktop: true;
  }
}

.foo {
  @media (width > 500px) {
    color: red;
  }

  @container style(--desktop: true) {
    background: cyan;
  }
}
