name: test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  go_test:
    strategy:
      fail-fast: false
      matrix:
        directory:
          - go-fasthttp-dual-stack
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ matrix.directory }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
      - run: go build
      - uses: golangci/golangci-lint-action@v9
        with:
          working-directory: ${{ matrix.directory }}
  ninja_test:
    strategy:
      fail-fast: false
      matrix:
        directory:
          - c-hello
          - c-stack-operation-elimination
          - ninja-phony
          - ninja-parallel
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ matrix.directory }}
    steps:
      - uses: actions/checkout@v6
      - uses: homebrew/actions/setup-homebrew@master
      - run: brew install llvm ninja
      - run: ninja
  node_js_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          lfs: true
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version-file: package.json
      - run: pnpm i --frozen-lockfile
      - run: pnpm -r build
      - run: node --run lint
      - run: pnpm -r test
  ruby_test:
    strategy:
      fail-fast: false
      matrix:
        directory:
          - cucumber-example-escape
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ matrix.directory }}
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
      - run: bundler
      - run: bundler exec cucumber --publish-quiet
  rust_test:
    strategy:
      fail-fast: false
      matrix:
        directory:
          - .
          - rust-dyn-future
          - rust-generator
          - rust-hello-world
          - rust-libc
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ matrix.directory }}
    steps:
      - uses: actions/checkout@v6
      - uses: homebrew/actions/setup-homebrew@master
      - run: cargo build
      - run: cargo clippy
      - run: cargo fmt --check
      - run: cargo test
  scheme_test:
    strategy:
      fail-fast: false
      matrix:
        directory:
          - scheme-call-cc
          - scheme-eval
          - scheme-lzss
          - scheme-macro
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ${{ matrix.directory }}
    steps:
      - uses: actions/checkout@v6
      - uses: homebrew/actions/setup-homebrew@master
      - run: brew install gauche
      - run: gosh main.scm
  shell_test:
    strategy:
      fail-fast: false
      matrix:
        directory:
          - llvm-c-calling-convention
          - llvm-pointer-tag
          - llvm-unnamed-addr
          - mlir-c-wrapper
          - scheme-shift-reset
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ${{ matrix.directory }}
    steps:
      - uses: actions/checkout@v6
      - uses: homebrew/actions/setup-homebrew@master
      - run: sudo apt update --fix-missing
      - run: sudo apt install gcc-multilib
      - run: ./main.sh
  spell_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: streetsidesoftware/cspell-action@v8
  test:
    runs-on: ubuntu-latest
    needs:
      - go_test
      - ninja_test
      - node_js_test
      - ruby_test
      - rust_test
      - scheme_test
      - shell_test
      - spell_check
    if: ${{ always() }}
    steps:
      - run: |
          for result in ${{ join(needs.*.result, ' ') }}; do
            [ $result = success ]
          done
